*.psd filter=lfs diff=lfs merge=lfs -text
*.fbx filter=lfs diff=lfs merge=lfs -text
Assets/Ressources/* filter=lfs diff=lfs merge=lfs -text
Assets/Ressources/ filter=lfs diff=lfs merge=lfs -text
Assets/Ressources filter=lfs diff=lfs merge=lfs -text
Assets/Resources filter=lfs diff=lfs merge=lfs -text
Assets/Resources/* filter=lfs diff=lfs merge=lfs -text
Assets/Resources/ filter=lfs diff=lfs merge=lfs -text
Assets/Materials[[:space:]]and[[:space:]]Textures/* filter=lfs diff=lfs merge=lfs -text
Assets/Materials[[:space:]]and[[:space:]]Textures/ filter=lfs diff=lfs merge=lfs -text
Assets/Materials[[:space:]]and[[:space:]]Textures filter=lfs diff=lfs merge=lfs -text
*.tga filter=lfs diff=lfs merge=lfs -text
*.hdr filter=lfs diff=lfs merge=lfs -text
*.anim filter=lfs diff=lfs merge=lfs -text
lfs/* filter=lfs diff=lfs merge=lfs -text
lfs/objects/* filter=lfs diff=lfs merge=lfs -text
C:/Users/karen/Desktop/Bossfight/Labor-Games-Bossfight/lfs/objects/15/29/15291b00d232ee0b984d8eab8667a489768a87d34f30be5ecc7e2a4848e5c237 filter=lfs diff=lfs merge=lfs -text
C:/Users/karen/Desktop/Bossfight/Labor-Games-Bossfight/lfs/objects/5c/38/5c38657ecf20dbfc7f528efbadc76245ea4e561bea44f8ec549ff706963a4aea filter=lfs diff=lfs merge=lfs -text
/lfs/objects/15/29 filter=lfs diff=lfs merge=lfs -text
/lfs/objects/15/29/* filter=lfs diff=lfs merge=lfs -text
lfs/objects/8b/56/* filter=lfs diff=lfs merge=lfs -text
*.asset filter=lfs diff=lfs merge=lfs -text
*.bak filter=lfs diff=lfs merge=lfs -text
*/lfs/objects/7c/5e filter=lfs diff=lfs merge=lfs -text
/lfs/objects/7c/5e/7c5ebc82d7c995f00c457b8427b8cb91373b3715440eebe19f96b988efcb5336 filter=lfs diff=lfs merge=lfs -text
/lfs/objects/92/21/9221ac8566b03a340ca1de35f2603bd691a6cf94061c593f05cbb7afb61e3eaa filter=lfs diff=lfs merge=lfs -text
/lfs/objects/fa/98/fa98777de9378d98757dbb876958be6a28de8d18673f2def0eed67d0264f1fec filter=lfs diff=lfs merge=lfs -text
/lfs/objects/fa/af/faafc94c65d6ed860a596d3a023af3e96053cc2c0d1f697280accb5c5fb5e1da filter=lfs diff=lfs merge=lfs -text
.wav filter=lfs diff=lfs merge=lfs -text
*.wav filter=lfs diff=lfs merge=lfs -text
*/lfs/* filter=lfs diff=lfs merge=lfs -text
*/lfs/ filter=lfs diff=lfs merge=lfs -text
lfs/objects/57/a2/57a22331529aeb00ec833cd403b2e0a2bd47819122ff7745b40a5d806274a6ab filter=lfs diff=lfs merge=lfs -text
lfs/objects/6b/4e/6b4e0b662605b9405c897c0bf4160d0005042d6269ee444806c5da8c7e9f7863 filter=lfs diff=lfs merge=lfs -text
lfs/objects/1b/79/1b79417e93481dcd643f2da5926fef4f5b363635906239615aa412f10e30c4f filter=lfs diff=lfs merge=lfs -text
/lfs/objects/1b/79/1b79417e93481dcd643f2da5926fef4f5b363635906239615aa412f10e30c4f5 filter=lfs diff=lfs merge=lfs -text
/lfs/objects/5e/cf/5ecfd51b73c36ad66fdc61766685424058931e5a475f220ad7c269f8ddc4b58a filter=lfs diff=lfs merge=lfs -text
/lfs/objects/6c/ea/6cea1b487db72f1348848fe9c6799ab9cb66e1259893266ae86d92887d12979d filter=lfs diff=lfs merge=lfs -text
/lfs/objects/89/33/89335d5ad3f2bd7287689337ffd44dd1fe230ed6775483dd2fff7dfde934a901 filter=lfs diff=lfs merge=lfs -text
lfs/objects/3f/ea/3fea2911051f2fb00032023fa940e4cf1c197e16d1566d9347988515b53821ca filter=lfs diff=lfs merge=lfs -text
